* {
  font-weight: 200;
}

#root {
  max-width: 100vw;
  /* padding: 2rem; */
  text-align: center;
}

a {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa !important;
  overscroll-behavior: none;
}

.main-container {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 7.5% 30% 62.5%;
  width: 100vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.spin:hover {
  animation: logo-spin infinite 4s linear;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#icon {
  height: 40px;
  width: 40px;
}

#icon:hover {
  cursor: pointer;
}

/* --------------------------- HEADER ------------------------------ */

header {
  height: 10vh;
  background-color: #51597b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0vh 2vw 0vh 2vw;
}

.main-title {
  font-size: 30px;
  color: #ffffff;
  font-weight: 250;
}

/* --------------------------- SIDEBAR ------------------------------ */

.sidebar {
  padding: 2vh 1vw 2vh 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #e8e8e8;
}

.sidebar-list-item {
  margin: 2vh 0vw 2vh 0vw;
}

.profile-message-container {
  display: flex;
  flex-direction: column;
}

/* --------------------------- RECENT CHATS ------------------------------ */

.recent-chats {
  background-color: #f2f2f2;
}

.chat-container {
  margin: 0;
  gap: 0;
  max-height: 90vh;
  overflow-y: scroll;
  overscroll-behavior: auto;
}

.chat {
  margin: 0vh 1vw 0vh 1vw;
  padding: 0;
  border-bottom: solid 1px #5d5c5c;
  height: 12vh;
  padding: 1vh 2vw 1vh 2vw;
}

.chat-name {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.chat-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-link {
  text-decoration: none;
  color: black;
}

.message-sent {
  color: #5d5c5c;
  font-size: 12px;
}

.message-preview {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

/* --------------------------- CHATAREA ------------------------------ */

.chat-area-main {
  padding: 0vh 3vw 3vh 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-input {
  border: solid 1px #5d5c5c;
  border-radius: 30px;
  padding: 4px;
  height: fit-content;
  display: flex;
  justify-content:  flex-end;
}

.chat-form {
  display: flex;
  width: 100%;
}

.text-input {
  background-color: #fafafa;
  border: none;
  color: black;
  margin: 0vh 1vw 0vh 1vw;
  width: 100%;
}

.text-input:focus {
  outline: none;
  color: black;
}

.send-button {
  border-radius: 50% !important;
  background-color: #51597b !important;
}

.ce-chat-title-text {
  background-color: #51597b !important;
}

.ce-chat-subtitle-text {
  background-color: #51597b !important;
}

.ce-message-bubble {
  background-color: #51597b !important;
}

/* --------------------------- LOGIN PAGE ------------------------------ */


.login-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


.form-title {
  font-size: xx-large;
  font-weight: 500;
  margin: 2vh;
}
.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0vh 3vw 3vh 3vw;
}


.auth-input {
  border: none;
  background-color: #fafafa;
  width: 20vw;
  height: 3vw;
  font-size: larger;
  border-radius: 15px;
  border: solid rgb(155, 155, 155);
  outline: none;
  padding: 1vh 1vw;
  color: rgb(90, 90, 90);
}


.auth-label {
  padding: 1vh 3vw 1vh 3vw;
}


.auth-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh;
  background: #51597b;
  border-radius: 15px;
  border: none;
}


.auth-button:hover {
  background-color: #383f5c;
}


.background {
  margin: 0vh 0vw 12vh 0vw;
}
